@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bfddc1;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #006400, #023502);
    margin: auto;
    margin-bottom: 0%;
    height: 150px;
    align-items: center;
    display: flex
}
header > h1 {
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: #023502;
    padding: 10px;
    margin:auto;
    font-size: 1.2em;
}

nav > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;

}

nav > a:hover {
    text-decoration: underline;   
}

main {
    background-color: snow;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    min-width: 400px;
    max-width: 1200px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
}

article {
    background-color: snow;
    padding: 5px;
}

footer {
    background-image: linear-gradient(to top, #023402, #006400);
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

#titulo-principal {
    background-color: transparent;
    color: #fff;
    padding: 7px;
    margin:auto;
    font-size: 3em;
}

h1 {
    font-size: 33px;
}

a::after {
    content: '\00A0\1F517';
}

a {
    font-weight: bold;
    text-decoration: none;
    color: snow;
    height: 50px;
}

a:visited {
    color: snow;
}

a:hover {
    text-decoration: underline;
}

#titulo-secundario {
    background-image: linear-gradient(to right, #023402, #006400, transparent);
    color: #fff;
    padding: 7px 10px;
    margin: auto;
    border-radius: 10px;
    font-size: 40px;
}

p {
    font-family: normal 1em Arial, Helvetica, sans-serif;
    margin: 10px 5px;
    padding: 5px 15px;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 0px;
    text-shadow: 2px 2px 0px (0, 0, 0, 0.466);
    text-indent: 20px;
    line-height: 2em;
}

#titulo-tres {
    font-family: normal 1em, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #023402, #006400, transparent);
    color: #fff;
    padding: 7px 10px;
    margin:auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 33px;
}

img {
    margin: auto;
    border-radius: 10px;
    display: flex;
}

main img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
}

figcaption {
    font-family: normal 1em arial black, Helvetica, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to right, #023402, #006400, transparent);
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

li {
    line-height: 2em;
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
    padding-right: 10px;
    margin: auto;
}

ul {
    list-style-type: disc #023402;

}

aside {
    background-color: #006400;
    border-radius: 10px;
}

#titulo-quatro {
    font-family: normal 1em, Arial, Helvetica, sans-serif;
    background-color: #023502;
    color: #fff;
    padding: 7px 10px;
    margin:auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 33px;
}